<%- include('header'); -%>

            <div  style="width: 70%">
                <h2>About Me</h2>
                <img class="profile-pic"  src="https://picsum.photos/200" alt="" />
                <div style = "display: inline-block;">
                <p >Hey, I'm Akash Kumar student at Indian Institute of Information Technology, Nagpur. I am looking for Software Developer Role.
                </p>
                </div>
            </div>

<%- include('footer'); -%>