<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
	<link rel="stylesheet" href="./style.css">
	<title>Weather-App</title>
</head>

<body>

    <div class="container" style="padding-top: 20px; ">
		<div class="header clearfix" style="height: 80px;">
		  <nav>
			<ul class="nav nav-pills pull-right">
			  <li role="presentation"><a href="/">Home</a></li>
			  <li role="presentation"><a href="/weather/">Get Weather</a></li>
			  <li role="presentation"><a href="/about">About</a></li>
			</ul>
		  </nav>
		  <h3 class="text-muted">WeatherApp</h3>
		</div>