
	
	<%- include('header'); -%>
	
  
		<div style="padding-top: 10%;">
			<div class="jumbotron" >
				<img src="https://picsum.photos/300" alt="images" srcset="">
				<div style="display: inline-block; padding-left: 20px;">
					<h1>Get Live Weather</h1>
					<p class="lead">To know the weather report of any city click below</p>
					<p><a class="btn btn-lg btn-success" href="/weather" role="button">click</a></p>
				</div>
			</div>
		</div>
		
		<%- include('footer'); -%>

<!-- 
	<h1>Get the live weather for a city</h1>
	<form action="/" method="post">
		<input type="text" name="cityName" placeholder="Enter city name">
		<button type="submit" > Get weather</button>
	</form>
 -->